p {
  font-family: "Raleway", sans-serif;
}

#my-name {
  font-size: 300%;
  letter-spacing: 250%;
  text-align: center;
  color: #1E222E;
  font-family: "Sacramento", sans-serif;
}

a:visited {
  color: #62626C;
}

#top-links {
  text-align: center;
  text-decoration: none;
}

a#top-links:link, a#top-links:visited {
  color: #62626C;
}

a#top-links:hover {
  color: #1FB6AD;
}

.section-header{
  color: "red";
  font-family: "Raleway", sans-serif;
}

.long-text{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  line-height: 125%;
  text-align: justify;
}

#bio {
  background-color: #1E222E;
  color: white;
}

#likes {
  background-color: #AC1040;
  color: white;
}

#links {
  background-color: #1FB6AD;
  color: white;
}

