p {
  font-family: "Raleway", sans-serif;
}

#my-name {
  size: 500%;
  text-align: center;
  font-family: "Sacramento", cursive;
}

.section-header{
  color: "red";
}

#bio {
  background-color: #1E222E;
  color: white;
}

.long-text{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
